body {
    font-size: 15px;

    /* Night-time */
    background-color: rgb(14,14,45);

    /* Day-time */
    /* background: linear-gradient(rgb(206, 203, 255), rgb(180,174,255)); */

    /* Webkit */
        background-image:
        -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 10, from(white), color-stop(0.1, rgba(255,255,255,.2)), to(transparent)),
        -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 8, from(white), color-stop(0.1, rgba(255,255,255,.2)), to(transparent)),
        -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 8, from(white), color-stop(0.1, rgba(255,255,255,.3)), to(transparent)),
        -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 7, from(white), color-stop(0.03, rgba(255,255,255,.2)), to(transparent)),
        -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 10, from(rgba(255,255,255)), color-stop(0.05, rgba(255,255,255,.3)), to(transparent)),
        -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 10, from(rgba(255,255,255)), color-stop(0.03, rgba(255,255,255,.2)), to(transparent));

    /* Firefox */
    background-image:
        -moz-radial-gradient(circle, #FFF 1px, rgba(255, 255, 255, 0.2) 1px, transparent 10px),
        -moz-radial-gradient(circle, #FFF 1px, rgba(255, 255, 255, 0.2) 2px, transparent 10px),
        -moz-radial-gradient(circle, rgba(255,255,255,.9) 1px, rgba(255, 255, 255, 0.2) 2px, transparent 10px),
        -moz-radial-gradient(circle, rgba(255,255,255,.8) 1px, rgba(255, 255, 255, 0.2) 1px, transparent 8px),
        -moz-radial-gradient(circle, #FFF 1px, rgba(255, 255, 255, 0.2) 2px, transparent 10px),
        -moz-radial-gradient(circle, rgba(255,255,255,.8) 1px, rgba(255, 255, 255, 0.2) 1px, transparent 8px);

    /* Background images size */
    /* background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px; */
    background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px, 300px 300px, 250px 250px;

    /* Background images position*/
    /* background-position: 0 0, 30px 60px, 130px 270px, 70px 150px; */
    background-position: 0 0, 30px 60px, 130px 270px, 70px 150px, 200px 50px, 50px 200px;
}

.boxed {
    /* background-color: rgba(0, 0, 0, 0.01); */
    /* border: 1px solid rgb(90, 90, 138); */
    /* border: 1px solid rgb(121, 121, 185); */
    border-radius: 4px;
    padding: 5px;
}

.boxed-selected, .boxed-selected-other {
    /* border: 1px solid rgb(53, 53, 105); */
    border: 1.5px solid rgb(119, 119, 158);
    border-radius: 4px;
    padding: 5px;
}

#chart {
    z-index: 1;
}


.dic {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    transition: .8s top;
    z-index: 3;
}

.dic-hidden {
    position: absolute;
    top: -25%;
    transition: .8s top;
}


/* ==================================== App == */

.app-container {
    max-width: 870px;
    margin: 0 auto;

    /* Day-time */
    /* background-color: rgb(85, 85, 184); */

    /* Night-time */
    background-color: rgba(85, 85, 184, .5)

}

.app-header-container h1 {
    color: white;
    margin: 0 0 0 6px;
    padding: 0;
    font-size: 1.8em;
    position: relative;
    top: 3px;
    font-family: Tahoma;
}

.app-nav-container {
    margin-bottom: 8px;
}

.app-profile-container {
    margin-top: 10px;
}



/* ==================================== Navbar == */

.app-nav-container a {
    font-family: helvetica;
    font-size: .9em;
    font-weight: 100;
    text-decoration: none;
    border-radius: 8px;
    padding: 4px 4px 2px;
    margin: 0 3px 5px 0;
    color: rgb(57, 50, 94);
    background-color: rgb(237, 206, 255);
    transition: .5s background-color;
}

.app-nav-container a:hover {
    background-color: rgb(230, 211, 255);
    color: rgb(82, 74, 122);
}

.nb-loginsignup-container {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

    /* boxed */
    border: 1px solid rgb(72, 72, 124);
    border-radius: 4px;
    padding: 7px 5px;

    /* background-color */
    /* background-color: rgb(62, 62, 107, .7); */
    background-color: rgb(85, 85, 184, .7);

    transition: .8s top;
}

.nb-loginsignup-container-hidden {
    visibility: hidden;
    top: -10%;
}

.nb-links-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 5px 15px 0;
}

.nb-auth-button {
    font-family: helvetica;
    cursor: pointer;
    color: rgb(169, 141, 221);
    margin-right: 6px;
}

.login-container {
    display: flex;
    flex-direction: column;
}

.signup-container {
    display: flex;
    flex-direction: column;
}

@media (max-width:700px) {
    .nb-links-container {
        flex-direction: column;
        margin: 5px 15px 0;
        align-items: flex-start;
    }

    .app-nav-container a {
        font-size: 1.1em;
        margin: 10px 3px 5px 0;
    }

    .nb-auth-container {
        position: absolute;
        right: 5%;
    }

    .nb-links {
        margin-top: 10px;
    }
}


/* ==================================== ProfileView == */

.pv-profile-links {
    display: flex;
    flex-direction: row;
    margin: 0;
    overflow: hidden;
    height: 80px;
}

.pv-profile-links-scrolldiv {
    display: flex;
    flex-direction: row;
    height: 120px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.pv-profile-links-scrolldiv > div {
    min-width: 120px;
    height: 80px;
    box-sizing: border-box;
    margin: 0 5px 0 0;
}

.pb-container {
    font-family: helvetica;
    color: rgb(215, 215, 230);
    font-size: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: fit-content;
    transition: .5s background-color;
}

.pb-container:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.062);
}

.pb-container-earth {
    background-color: rgba(209, 225, 151, 0.1);
}

.pb-container-fire {
    background-color: rgba(243, 108, 108, 0.1);
}

.pb-container-air {
    background-color: rgba(169, 151, 223, 0.1);
}

.pb-container-water {
    background-color: rgba(135, 207, 235, 0.1);
}

.pv-addprofile-btn {
    font-family: helvetica;
    color: rgb(215, 215, 230);
    font-size: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: fit-content;
    transition: .5s background-color;
    position: relative;
    background-color: rgba(255, 255, 255, .1);
    margin-right: 5px;
}

.pv-addprofile-btn > span {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pv-addprofile-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.062);
}

.pv-addprofile-form {
    display: flex;
    flex-direction: column;
}

.add-profile-container {
    z-index: 2;
    border: 1px solid rgb(72, 72, 124);
    border-radius: 4px;
    padding: 7px 5px;
    background-color: rgba(85, 85, 184, 0.8);
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    transition: .8s top;
}

.add-profile-container input {
    margin: 0 0 5px 0;
    padding: 2px;
    border: 1px solid rgb(106, 106, 150);
    border-radius: 5px;
    background-clip: content-box;
    font-size: 1.2em;
}

.add-profile-container-hidden {
    visibility: hidden;
    top: -10%;
}

.pv-addprofile-btn > div {
    text-align: center;
}

/* ==================================== LoginSignup == */

#login-signup-panel {
    background-color: rgba(85, 85, 184, 0.8);
    border: 1px solid rgb(72, 72, 124);
    border-radius: 4px;
    padding: 7px 5px;
}

.login-container input {
    margin: 0 0 5px 0;
    padding: 2px;
    border: 1px solid rgb(106, 106, 150);
    border-radius: 5px;
    background-clip: content-box;
    font-size: 1.2em;
}

.signup-container input {
    margin: 0 0 5px 0;
    padding: 2px;
    border: 1px solid rgb(106, 106, 150);
    border-radius: 5px;
    background-clip: content-box;
    font-size: 1.2em;
}

.ls-toggle-link {
    cursor: pointer;
    /* color: white; */
    color: rgb(192, 176, 211);
    font-family: helvetica;
    text-align: center;
}




/* ==================================== NatalView == */

.nv-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nv-details-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: center;
}

.nv-details-type {
    font-size: 1.1em;
}

.nv-details-container div {
    font-family: helvetica;
    color: rgb(215, 215, 230);
    font-size: 1em;
}

.nv-details-expand-container {
    font-family: helvetica;
    padding: 15px 10px;
    color: rgb(215, 215, 230);
    font-size: 1.2em;
    margin: 15px;
    padding: 15px 10px;
    background-color: rgba(255,255,255,.1)
}

@media (max-width: 700px) {
    .nv-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
}

/* ==================================== ProfileForm == */


.pf-container {
    z-index: 2;
    border: 1px solid rgb(72, 72, 124);
    border-radius: 4px;
    padding: 7px 5px;
    background-color: rgba(85, 85, 184, 0.8);
    height: fit-content;
    width: fit-content;
}

.pf-inputs-container {
    display: flex;
    flex-direction: column;
}

.pf-inputs-container input {
    margin: 0 0 5px 0;
    padding: 2px;
    border: 1px solid rgb(106, 106, 150);
    border-radius: 5px;
    background-clip: content-box;
    font-size: 1.2em;
}

.nv-details-link {
    cursor: pointer;
    padding: 2px;
}

.nv-details-link:hover {
    text-decoration: underline;
}

/* ==================================== CompatibilityView == */

.cv-aspect-link {
    margin-bottom: 5px;
}

.cv-aspect-header {
    font-size: 1.1em;
}

.cv-aspect-detail {
    padding: 0 0 0 35px;
    margin: -5px 0;
}

.cv-aspect-detail:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cv-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cv-details-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: center;
    max-height: 550px;
    overflow-x: hidden;
    max-width: 100%;
    padding-bottom: 10px;
    /* position: relative; */
    /* top: 10%; */
}

.cv-details-scroll-container {
    overflow-y: scroll;
    width: 120%;
}

.cv-details-container div {
    font-family: helvetica;
    color: rgb(215, 215, 230);
    font-size: 1em;
}

@media (max-width: 700px) {
    .cv-container {
        flex-direction: column-reverse;
    }
}


/* ==================================== LearnView == */

.lv-container {
    display: flex;
    flex-direction: row;
}

.lv-symbols-container {
    font-family: helvetica;
    color: rgb(215, 215, 230);
    font-size: 1em;
    margin: 15px 10px;
    padding: 15px 10px;
    background-color: rgba(255,255,255,.1);
    border-radius: 4px;
    width: 25%;
}

.lv-details-container {
    font-family: helvetica;
    padding: 15px 10px;
    color: rgb(215, 215, 230);
    font-size: 1em;
    margin: 15px 10px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 4px;
    width: 100%;
}
