body {
    /* background-color: rgb(29, 29, 83); */
    background-color: rgb(51, 51, 104);
    font-size: 12px;
}

.boxed {
    /* border: 1px solid rgb(53, 53, 105); */
    border: 1px solid rgb(72, 72, 124);
    border-radius: 4px;
    padding: 7px 5px;
}


/* ==================================== App == */

.app-container {
    max-width: 700px;
    margin: 0 auto;
}

.app-header-container h1 {
    color: white;
    margin: 0;
    padding: 0;
}

.app-nav-container {
    margin-bottom: 8px;
}

.app-profile-container {
    margin-bottom: 5px;
}

.app-profile-container a {
    cursor: pointer;
    color: rgb(140, 0, 255);
}


/* ==================================== Navbar == */

.app-nav-container a {
    font-family: helvetica;
    font-size: 1em;
    font-weight: 100;
    text-decoration: none;
    /* border: 1px solid rgb(53, 53, 105); */
    border: 1px solid rgb(72, 72, 124);
    border-radius: 5px;
    padding: 3px;
    margin: 0 3px 5px 0;
    color: rgb(167, 167, 201);
}

.app-nav-container a:hover {
    /* background-color: rgb(137, 0, 250); */
    /* border-color: rgb(68, 68, 124); */
    border-color: rgb(100, 100, 158);
}

.nb-loginsignup-container {
    position: absolute;

    /* boxed */
    border: 1px solid rgb(72, 72, 124);
    border-radius: 4px;
    padding: 7px 5px;

    /* background-color */
    background-color: rgb(51, 51, 104);
}

.hidden {
    visibility: hidden;
}


.nb-links-container {
    display: flex;
    justify-content: space-between;
}


/* ==================================== Navbar == */

.login-container {
    display: flex;
    flex-direction: column;
}

.signup-container {
    display: flex;
    flex-direction: column;
}
