body {
    /* background-color: rgb(29, 29, 83); */
    background-color: rgb(62, 62, 107);
    font-size: 15px;
}

.boxed {
    /* border: 1px solid rgb(53, 53, 105); */
    border: 1px solid rgb(90, 90, 138);
    border-radius: 4px;
    padding: 7px 5px;
}


/* ==================================== App == */

.app-container {
    max-width: 800px;
    margin: 0 auto;
}

.app-header-container h1 {
    color: white;
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 2.3em;
}

.app-nav-container {
    margin-bottom: 8px;
}

.app-profile-container {
    margin-bottom: 5px;
}



/* ==================================== Navbar == */

.app-nav-container a {
    font-family: helvetica;
    font-size: .9em;
    font-weight: 100;
    text-decoration: none;
    /* border: 1px solid rgb(53, 53, 105); */
    /* border: 1px solid rgb(72, 72, 124); */
    border-radius: 8px;
    padding: 4px 4px 2px;
    margin: 0 3px 5px 0;
    color: rgb(57, 50, 94);
    /* color: rgb(167, 167, 201); */
    background-color: rgb(237, 206, 255);
    transition: .5s background-color;
    /* transition: .5s color; */

}

.app-nav-container a:hover {
    /* background-color: rgb(137, 0, 250); */
    /* border-color: rgb(68, 68, 124); */
    /* border-color: rgb(100, 100, 158); */
    background-color: rgb(230, 211, 255);
    color: rgb(82, 74, 122);
}

.nb-loginsignup-container {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);

    /* boxed */
    border: 1px solid rgb(72, 72, 124);
    border-radius: 4px;
    padding: 7px 5px;

    /* background-color */
    background-color: rgb(139, 139, 182, .2);
    transition: .8s top;
}

.nb-loginsignup-container-hidden {
    visibility: hidden;
    top: -20%;
}


.nb-links-container {
    display: flex;
    justify-content: space-between;
}

.nb-auth-button {
    font-family: helvetica;
    cursor: pointer;
    color: rgb(146, 114, 204);
}

.login-container {
    display: flex;
    flex-direction: column;
}

.signup-container {
    display: flex;
    flex-direction: column;
}

.ls-toggle-link {
    cursor: pointer;
    color: rgb(140, 0, 255);
}


/* ==================================== ProfileView == */

.pv-profile-links {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 5px;
}

.pb-container {
    font-family: helvetica;
    color: rgb(167, 167, 201);
    font-size: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: fit-content;
    transition: .5s background-color;
}

.pb-container:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.062);
}

.pv-addprofile-btn {
    font-family: helvetica;
    color: rgb(167, 167, 201);
    font-size: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: fit-content;
    transition: .5s background-color;
}

.pv-addprofile-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.062);
}

.pv-addprofile-form {
    display: flex;
    flex-direction: column;
}

#add-profile-container {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    transition: .8s left;
}

.add-profile-container-hidden {
    visibility: hidden;
    left: -20%;
}

.pv-addprofile-btn > div {
    text-align: center;
}

/* ==================================== LoginSignup == */

.login-container input {
    margin: 5px 0 0 0;
    padding: 2px;
    border: 1px solid rgb(106, 106, 150);
    border-radius: 5px;
    background-clip: content-box;
}


/* ==================================== NatalView == */

.nv-container {
    display: flex;
    flex-direction: row;
}
